
//btn樣式
@mixin btn_big() {
    background: url('/images/main/btn_big.png') no-repeat center;
    background-size:contain;
    width: 210px;
    height: 50px;
    margin: 25px auto;
    @include small-phone-width(){
        margin: 10px auto;
    }

    i{
        font-size: 16px;
        color: $btnFont;
        background: $btnFont;
        background-clip: text;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
    }
}

@mixin btn_small() {
    background: url('/images/main/btn_small.png') no-repeat center;
    background-size:contain;
}

@mixin btn_popup() {
    background: url('/images/main/btn_popup.png') no-repeat center;
    background-size:contain;
}

//switch btn 樣式
@mixin switch_btn {
    input[type=checkbox] {
        margin-left: 5px;
        appearance: none;
        position: relative;
        width: 30px;
        height: 20px;
        background-size: cover;
        border-radius: 50px;
        transition: .9s;
  
        &:before {
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          height: 16px;
          width: 16px;
          border-radius: 50px;
          transition: .9s;
        }
  
        &:checked {
          transition: .9s;
        }
  
        &:checked:before {
          transform: translate(125%);
          transition: all .9s;
        }
    }
}