$blue:#4bb0fe;
$blue_light:#8e9fff;

$purple:#5e71d9;
$purple_light:#8d9efc;

$red:#f14767;
$red_light:#f7738c;

$orange:#fa8c0c;
$orange_light:#fc9d2d;

$gray:#4bb0fe;
$gray_light:#8e9fff;

$green:#4bb0fe;
$green_light:#8e9fff;

$baseFont:#333;